{% extends 'all-photos/base.html' %} {% block content %} {{block.super}}

<div class="container-fluid" style="font-size:300%" ;></div>
<!-- displaying images -->
<div class="row">
    {% for post in photos %}

    <div class="col-md-3">
        <!-- modal button-->
        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal{{post.id}}">
            <img src="{{post.image.url }}" alt="" width="250" height="250">
        </button>
        <br>
        <!-- modal -->
    </div>
    {% endfor %}
</div>
</div>
{% for post in photos %}
<!-- modal content -->
<div class="modal fade" id="myModal{{photo.id}}" role="dialog">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% for pet in photo_item.category.all %}
        <h3>Category:{{pet}}</h3>
        {% endfor %}
        <img src="{{photo_item.image.url}}" class="img-responsive" alt="Image" style='width:100%;'>
        <h4>Title: {{ photo_item.title}}</h4>
        <h4>Name:{{photo_item.name}}</h4>
        <h4>Description:{{ photo_item.description }}</h4>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="copy('img{{photo.id}}')">Copy Link</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}